

        <form class="" action="/post_user" method="POST">

            <div class="form-control">
                <label >usuario</label>
                <input type="text" name="usuario" id="usuario" value="">
            </div>

            <div class="form-control">
                <label >password</label>
                <input type="text" name="password" id="password" value="">
            </div>

            <button class="btn" type="submit">GUARDAR en DB</button>
        </form>